<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Copyright (c) 2013 Mike Nimer.

  This file is part of ApiServer Project.

  The ApiServer Project is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  The ApiServer Project is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with the ApiServer Project.  If not, see <http://www.gnu.org/licenses/>.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true"
         version="3.1">

	<display-name>ApiServer</display-name>
	<description></description>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/application-context.xml
		</param-value>
	</context-param>


	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>apiserver.core.filters.CORSFilter</filter-class>
        <async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

    <!-- todo: research
    <filter>
        <filter-name>etagFilter</filter-name>
        <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>etagFilter</filter-name>
        <path-pattern>/rest/*</path-pattern>
    </filter-mapping>
    -->




    <filter>
		<filter-name>charEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>



    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>apiserver.core.servlets.PingServlet</servlet-class>
    </servlet>



    <!-- ###########################
	##  API SERVER
	########################### -->
	<servlet id="api-status">
		<servlet-name>api-status</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/v1_0/apis-servlet.xml</param-value>
		</init-param>
        <async-supported>true</async-supported>
		<load-on-startup>100</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/ping/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api-status</servlet-name>
		<url-pattern>/rest/v1/*</url-pattern>
	</servlet-mapping>



	<welcome-file-list id="WelcomeFileList">
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>


</web-app>
