<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">
	<display-name>ApiServer</display-name>
	<description></description>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/application-context.xml
		</param-value>
	</context-param>


	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>apiserver.core.filters.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>




	<filter>
		<filter-name>charEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		<!--listener-class>com.mikenimer.palladium.bootstrap.SpringContextLoaderListener</listener-class-->
	</listener>



    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>apiserver.core.servlets.PingServlet</servlet-class>
    </servlet>


	<!-- ###########################
	##  JCR/JACKRABBIT Repository
	########################### -->
    <!-- configured by spring
    <servlet>
        <servlet-name>ContentRepository</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.jackrabbit.JackrabbitRepositoryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>repository.home</param-name>
            <param-value>jackrabbit-repository</param-value>
        </init-param>

        <init-param>
            <param-name>repository.config</param-name>
            <param-value>src/main/webapp/WEB-INF/jackrabbit/repository.xml</param-value>
        </init-param>
    </servlet>
    -->

    <!-- ALTERNATIVE J2EE
    <servlet>
        <servlet-name>ContentRepository</servlet-name>
        <servlet-class>org.apache.jackrabbit.j2ee.RepositoryStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
        <param-name>bootstrap-config</param-name>
        <param-value>/WEB-INF/jackrabbit/bootstrap.properties</param-value>
        </init-param>
    </servlet>
    -->


    <!-- ====================================================================== -->
    <!-- REPOSITORY SERVLET                                    -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Repository</servlet-name>
        <servlet-class>org.apache.jackrabbit.j2ee.RepositoryAccessServlet</servlet-class>

        <init-param>
            <param-name>repository.context.attribute.name</param-name>
            <param-value>javax.jcr.Repository</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>


    <!-- ====================================================================== -->
    <!-- WEBDAV  SERVLET  -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Webdav</servlet-name>
        <description>
            The webdav servlet that connects HTTP request to the repository.
        </description>
        <servlet-class>org.apache.jackrabbit.j2ee.SimpleWebdavServlet</servlet-class>

        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/repository</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        <!--
            Optional parameter to define the value of the 'WWW-Authenticate' header
        -->
        <!--
        <init-param>
            <param-name>authenticate-header</param-name>
            <param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
            <description>
                Defines the value of the 'WWW-Authenticate' header.
            </description>
        </init-param>
        -->
        <!--
            Parameter used to configure behaviour of webdav resources such as:
            - destinction between collections and non-collections
            - resource filtering
        -->
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/jackrabbit/webdav-config.xml</param-value>
            <description>
                Defines various dav-resource configuration parameters.
            </description>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- ==================================================================-->
    <!-- WEBDAV SERVER SERVLET -->
    <!-- =====================================================================

    <servlet>
        <servlet-name>JCRWebdavServer</servlet-name>
        <description>
            The webdav servlet that connects HTTP request to the repository.
        </description>
        <servlet-class>org.apache.jackrabbit.j2ee.JCRWebdavServerServlet</servlet-class>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/server</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
    -->


    <!--
        Optional parameter to define the value of the 'WWW-Authenticate' header
    -->
    <!--
    <init-param>
        <param-name>authenticate-header</param-name>
        <param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
        <description>
            Defines the value of the 'WWW-Authenticate' header.
        </description>
    </init-param>
    -->


    <!--
    <load-on-startup>5</load-on-startup>
</servlet>
 -->


    <!-- ==================================================================== -->
    <!-- RMI BINDING SERVLETS                                                 -->
    <!-- ==================================================================== -->
    <servlet>
        <servlet-name>RMI</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.remote.RMIRemoteBindingServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>//localhost/jackrabbit.repository</param-value>
        </init-param>
    </servlet>





    <!-- ###########################
	##  API SERVER
	########################### -->

	<servlet id="api-status">
		<servlet-name>api-status</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/v1_0/apis-servlet.xml</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/ping/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api-status</servlet-name>
		<url-pattern>/rest/v1/*</url-pattern>
	</servlet-mapping>

    <!-- ==================================================================-->
    <!-- JCR SERVLET MAPPING -->
    <!-- ===================================================================-->
    <servlet-mapping>
        <servlet-name>Webdav</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>
    <!--servlet-mapping>
        <servlet-name>JCRWebdavServer</servlet-name>
        <url-pattern>/server/*</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>RMI</servlet-name>
        <url-pattern>/rmi</url-pattern>
    </servlet-mapping>



	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list id="WelcomeFileList">
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>


</web-app>
